

table.divisionMatchTable {
    border-collapse: collapse;
}

table.divisionMatchTable > tbody > tr > th,td {
    padding-right: 6px;
    padding-left: 6px;
}

table.divisionMatchTable > tbody > tr.matchHeader {
    background: lightseagreen;
    font-weight: 600;
    font-size: 120%;
}


table.divisionMatchTable > tbody > tr > td:nth-child(1), td:nth-child(2) {
    text-align: right;
}

table.divisionMatchTable > tbody > tr > td:nth-child(3) {
    text-align: center;
}


table.divisionMatchTable > tbody > tr.catHeader {
    background: lightblue;
}

table.divisionMatchTable > tbody > tr.indivRes {
    color: gray;
}

